<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                background: #333;
            }
        </style>
        <script src="lib.js"></script>
        <script>
            const input = {}; // day_number -> input as string
            const solutions = {}; // [day_number][part_number] -> (input) => solution function
            for (let i = 1; i < 26; i++) { solutions[i] = {}; }
        </script>
<!--INPUT-->
    </head>
    <body>
<!--SOUTION-->
        <script>
            const DAY = DAY_NUMBER; 
            const PART = 1;
            solutions[DAY][PART](input[DAY]);
        </script>
    </body>
</html>