.env
node_modules
.DS_Store
day/1/input.txt
day/2/input.txt
day/3/input.txt
day/4/input.txt
day/5/input.txt
day/6/input.txt
day/7/input.txt
day/8/input.txt
day/9/input.txt
day/10/input.txt
day/11/input.txt
day/12/input.txt
day/13/input.txt
day/14/input.txt
day/15/input.txt
day/16/input.txt
day/17/input.txt
day/18/input.txt
day/19/input.txt
day/20/input.txt
day/21/input.txt
day/22/input.txt
day/23/input.txt
day/24/input.txt
day/25/input.txt
